<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <legend><span class="glyphicon glyphicon-cog"></span> Account Settings</legend>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "form-horizintal" }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :agency_name, label: 'Company name' %>
      <%= f.input :email, :autofocus => true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well">
      <legend><span class="oi oi-key"></span> Password Managment</legend>
      <%= f.input :password, :autocomplete => "off", label: "New Password", placeholder: "leave blank if you don't want to change it" %>
      <%= f.input :password_confirmation %>
      
      
      
    </div>
      
    <div class="well">
      <%= f.input :current_password, label: "Please type in your current password to save" %>
      <%= button_tag(:submit, :class => "btn btn-primary btn-sm col-lg-12", :id => 'save-btn') do %>
      Save changes <i class="glyphicon glyphicon-ok"></i>
      <% end %>
      <br><br>
      <% end %>
      
      <%= link_to registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger btn-sm col-lg-12"  do %>
        <span class="glyphicon glyphicon-log-out"></span> Delete my account
      <% end %>
      <br><br>
      
      <%= link_to "Back", :back, class: "btn btn-primary btn-sm col-lg-12" %>
      <br><br>
      </div>
    
  </div>
</div>