<div class="row">
<div class="col-lg-4">
<div class="well">
<legend>Edit <%= resource_name.to_s.humanize %></legend>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "form-horizintal" }, wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :agency_id %>
  <%= f.input :agency_name %>

  <%= f.input :email, :autofocus => true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  
<%= f.input :password, :autocomplete => "off", label: "New Password", placeholder: "leave blank if you don't want to change it" %>

  
  <%= f.input :password_confirmation %>


  <%= f.input :current_password %>
<span class="help-block">we need your current password to confirm your changes</span>
 

  
<%= button_tag( :class => "btn btn-primary btn-sm pull-right") do %>
  Update <i class="glyphicon glyphicon-ok"></i>
<% end %>

  <br> <br>
<% end %>

<%= button_to registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger btn-sm  pull-right"  do %>
 <span class="glyphicon glyphicon-log-out"></span> Delete my account
<% end %>


<%= link_to "Back", :back %>

</div>
</div>
</div>