<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<legend><span class="glyphicon glyphicon-cog"></span> Sign up</legend>
			<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<%= f.input :agency_name, label: 'Company name' %>
			<%= f.input :email, :autofocus => true %>
			<%= f.input :password %>
			<%= f.input :password_confirmation %>
			<%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
			<% end %>
			<br>
			Already registered? <%= render "devise/shared/links" %>
		</div>
	</div>
	
</div>