<div class="well">
  <legend><span class="oi oi-calculator"></span> Orders Management</legend>

  <table class="table table-striped">
    <thead>
      <tr>
      <% if current_user.current_active_state == 'admin' %>
        <th>Agency</th>
      <% end %>
        <th>School</th>
        <th>Order summary</th>
        <th>Total price</th>
        <th>Status</th>
        <th>Confirmation #</th>
        <th></th>
        <th>Student</th>
        <th></th>

      </tr>
    </thead>
   
   <tbody>
      <% @orders.each do |order| %>
        
        <tr>
          <% if current_user.current_active_state == 'admin' %>
            <td><%= "#{order.user.email}/#{order.user.agency_name}" %></td>
          <% end %>
          <td><%= link_to order.school, class: "btn btn-xs btn-default btn-embossed", target: "_blank" do %>
                <%= order.school.name %> &nbsp <span class="oi oi-external-link"></span>
              <% end %>
          </td>
          <td><i><%= order.num_seats %> seat for <%= order.num_weeks %> weeks starting on <%= order.start_date.to_formatted_s(:long) if order.start_date %></i></td>
          <td><strong><%= number_to_currency(order.total_price) %></strong></td>
          <td><span class="label <%= labelTag(order.state)[0] %>  label-lg"><%= order.state.humanize %>&nbsp &nbsp <span class="oi <%= labelTag(order.state)[1] %>"></span></span></td>
          <td>
          <% if order.state == 'confirmed' %>
            <a class="btn btn-xs btn-default btn-embossed ref-popup" data-container="body" data-toggle="popover" data-content="<%= order.offer_code %>"  >Show/Hide</a>
          <% end %>
          </td>
          <td>
          <% if order.state == 'pending' %>
            <%= link_to new_reservation_path(order_id: order.id), class: "btn btn-xs btn-primary btn-embossed" do %>
                  <span class="oi oi-credit-card"></span>&nbsp Confirm
                <% end %>
          <% end %>
          </td>
          <td>
            <% if !order.student %>
              <%= link_to new_student_path(order_id: order.id), class: "btn btn-xs btn-info btn-embossed" do %>
                  <span class="oi oi-link-intact"></span>&nbsp Link student
              <% end %>
              <% else %>
                <% student = "<strong>#{order.student.first_name} #{order.student.last_name}</strong> from #{order.student.country.name}" %>
                <a class="btn btn-xs btn-default btn-embossed ref-popup" data-toggle="popover" title="Order is linked to"  data-content="<%= student %>" data-html="true" >Show/Hide</a>
            <% end %>
          </td>

          <td>
          <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger btn-embossed" do %>
                <span class="oi oi-circle-x"></span>&nbsp Cancel
              <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate @orders, class: "apple_pagination" %>
 
</div>
