<% if current_user.current_active_state == 'admin' %>
  <div class="well">
    <legend><i class="oi oi-bar-chart"></i> Orders Statistics</legend>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>School</th>
        <th>Confirmed</th>
        <th>Pending</th>
        <th>Canceled</th>
        <th>total</th>
      </tr>
      </thead>

      <tbody>
      <% @schools.each do |school| %>
        <tr>

          <td><%= school.name %></td>
          <td><%= school.sold_weeks %></td>
          <td><%= school.sold_weeks('pending') %></td>
          <td><%= school.sold_weeks('canceled') %></td>
          <td><%= school.sold_weeks('all') %></td>

        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
<% end %>



<div class="well">
  <legend><span class="oi oi-calculator"></span> Orders Management</legend>

  <table class="table table-striped">
    <thead>
      <tr>
      <% if current_user.current_active_state == 'admin' %>
        <th>Agency</th>
      <% end %>
        <th>School</th>
        <th>Order summary</th>
        <th>Total price</th>
        <th>Status</th>
        <th>Confirmation</th>
        <th></th>
        <th>Student</th>
        <th></th>
       

      </tr>
    </thead>
   
   <tbody>
      <% @orders.each do |order| %>
        
        <tr>
          <% if current_user.current_active_state == 'admin' %>
            <td><%= "<small><b>#{order.user.agency_name}</b><br>#{order.user.email}</small>".html_safe %></td>
          <% end %>
          <td><%= link_to order.school, class: "btn btn-xs btn-default btn-embossed", target: "_blank" do %>
                <%= order.school.name %> &nbsp <span class="oi oi-external-link"></span>
              <% end %>
          </td>
          <td><i><%= order.num_weeks %> weeks starting on <%= order.start_date.to_formatted_s(:long) if order.start_date %></i></td>
          <td><strong><%= number_to_currency(order.total_price) %></strong></td>
          <td><span class="label <%= labelTag(order.currentState)[0] %>  label-lg"><%= order.currentState.humanize %> <%= "until #{order.expire_date.to_formatted_s(:long)}" if order.currentState == 'pending' %>&nbsp &nbsp <span class="oi <%= labelTag(order.currentState)[1] %>"></span></span></td>
          <td>
          <% if order.currentState == 'confirmed' %>
            <a class="btn btn-xs btn-default btn-embossed ref-popup" data-container="body" data-toggle="popover" data-content="<%= order.offer_code %>"  >Show/Hide</a>
          <% end %>
          </td>
          <td>
          <% if order.currentState == 'pending' %>
            <%= link_to new_reservation_path(order_id: order.id), class: "btn btn-xs btn-primary btn-embossed" do %>
                  <span class="oi oi-credit-card"></span>&nbsp Confirm
                <% end %>
          <% end %>
          </td>
          <% if order.currentState != 'canceled' %>
          <td>
            <% if !order.student  %>
              <%= link_to new_student_path(order_id: order.id), class: "btn btn-xs btn-info btn-embossed" do %>
                  <span class="oi oi-link-intact"></span>&nbsp Link student
              <% end %>
              <% else %>
                <% student = "<strong>#{order.student.first_name} #{order.student.last_name}</strong> from #{order.student.country.name}" %>
                <a class="btn btn-xs btn-default btn-embossed ref-popup" data-toggle="popover" title="Order is linked to"  data-content="<%= student %>" data-html="true" >Show/Hide</a>
            <% end %>
          </td>

          <td>
          <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger btn-embossed" do %>
                <span class="oi oi-circle-x"></span>&nbsp Cancel
              <% end %>
          </td>
        <% else %>
        <td></td>
        <td></td>
       <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate @orders, class: "apple_pagination" %>
 
</div>
