<% if user_signed_in?  %>
<% titles = ["How to use the system","Strategy", "Sales", "Marketing"] %>
<% qa = [{title: "How to use the system", q: "How can I use the system to book a seat? Please show me step by step.", a: "For the initial set up here are 4 Simple Steps To Control Your Profit and Privacy
<ol>
<li>Go to www.eslBooking.com and enter your username and password</li>
<li>Click on the 'User Icon' at the top of the page and create your new password (if you wish)</li>
<li>Click on the 'Setting Icon' at the very top of the page, you will see a drop list of two items (one is “Agency Management”)</li>
<li>Click on 'Agency Management', you will notice the following:
<ul>
    <li>Edit Profile: Here you can edit your profile (if you wish)</li>
    <li>Pricing Setting: Here you can increase your price from the drop list. This is a helpful tool if you want some privacy so no staff members or students know the original prices. For example, you can increase your price by 30% (0.3). eslBooking will then immediately increase all offers by 30%. Then you can share your screen with your student to view all increased offers.</li>
    <li>Agent Setting: This is a great feature for agencies that have several sales people. You can create as many users as you like so you have full control of their performance and 100% price privacy. In my next email, I will teach you how to use it.</li>
</ul>
</li>
</ol>
To help in the process of choosing the best Offers, follow these simple steps:
<ol>
<li>Go to www.eslBooking.com and enter your login information (username and password)</li>
<li>Click on the 'Sign In' Button. This will take you to the “Search” page. At the bottom of this page, you will notice the Best Offers Available In Each City (Toronto, Ottawa, Halifax)</li>
<li>Enter your students' study details on the top left hand side under 'Find Available Seats'</li>
<li>Click on the “Search” button. This will take you to the available offers on the next page.</li>
<li>Review all offers available and choose the best one for your student.</li>
<li>Click on “Book Now.'</li>
</ol>
The ‘Book Now’ feature works by following these 8 short steps:
<ol>
<li>As you search for an available Offer, you will notice that there is a blue ‘Book Now’ button</li>
<li>If you decide to book an Offer, simply click the blue 'Book Now’ button</li>
<li>Enter your credit card information to reserve your purchase (your credit card information only holds the reservation until payment is made directly to school prior to the offer deadline)</li>
<li>You will then see the following notice, 'Order has been reserved'</li>
<li>You will also see a new page where you can link a student’s name to the order (to remember who it was made for - if you make several bookings for several students, you will find this page useful)</li>
<li>On the same page you also can view the school director's information for any clarification regarding your booking</li>
<li>On the same page we encourage you to rate the school</li>
<li>On the same page you also can CANCEL the order if needed - all on this one page.</li>
</ol>"}, {title: "How to use the system", q: "What is the difference between 'Book Now' and 'Reserve'?", a: "Once you book an offer, that offer will be reserved for a period of time for your student, the time is defferent from one offer to the other. Your student will have the option to reserve the offer permenetly by providing his/her credit card information. The credit card will not be charged. It is there to hold the reservation only. Once you complete the reservation you will be given an automatic 'Reference Code'. Also you can link the student to this offer from the same page so you know in the future which offer was given to which student. Once you have your Reference  Code, then your work with eslBooking is completed. Now, you need to register the student in the school. You will fill the student on line application from the school. All other prices (homestay, textbooks, etc..) will remain the same as per the schools policies. The school will know the Offer has been purchased and the invoice will be adjusted accordingly. Remember that paying the school directly within the Offer period shown on the offer is a must to successfully reserve the offer."},{title: "How to use the system", q: "Can more than one staff from the same agency have access to the system?", a: "Yes. It is no problem to have several staff from the same agency. Each one can have their own account and username."}, {title: "How to use the system", q: "After I make a booking, where can I find a complete quote including all other services including homestay?", a: "eslBooking offers only discounted tuition prices. You can find the prices for homestay and other services from your partners' brochures."}, {title: "How to use the system", q: "We are a large agency with several sales staff. We don’t want to give our usernames and passwords to all sales staff. Also we don’t want them to know the original prices. How can we manage this?", a: "Don’t worry, this has been thought of. In order to do so please go to the “Setting” icon and click on “Agent Management.” From there click on “Agent Setting.” For more information please e-mail us at info@eslBooking.com and we will guide you through the process."}, 
	{title: "Strategy", q: "What is the pricing strategy that the eslBooking system uses?", a: "eslBooking uses the Yield Management Pricing Strategy which has been used successfully by the airline and hotel industries for the last 15 years."},{title: "Strategy", q: "Is eslBooking the first system that applies Yield Management in the ESL industry?", a: "Yes. The eslBooking system is the first of its kind in the educational industry."}, {title: "Strategy", q: "Why does the eslBooking system use Yield Management?", a: "Yield Management helps in providing dynamic prices to sell the right capacity (seats) to the right agents at the right price. Without limited capacity, Yield Management  can’t be used."}, {title: "Strategy", q: "What is the business environment where Yield Management can help?", a: "Environments where there is the ability to segment markets, where there is a perishable inventory, where there are advanced sales, where there is fluctuating demand, and where there is an accurate information system (eslBooking)."}, {title: "How to use the system", q: "Can students use or browse the eslBooking offers?", a: "No. This version is for agent and school use only."}, {title: "How to use the system", q: "What is the best timing to find the best available deals?", a: "There is no specific timing for the best available deals. Three factors control a school’s pricing strategy; number of empty seats in an existing class, timing of empty seats in existing classes and kind of existing course where there are empty seats."}, {title: "How to use the system", q: "Can I use eslBooking for last minute sales?", a: "Prices are offered based on available seats which can't be predicted by booking early or in the last minute. Offers may be available for students looking for last minute deals, however, they can’t be guaranteed."}, {title: "How to use the system", q: "Can I book more than one offer per student?", a: "You can book more than one eslBooking offer for ONE student if you find them, but be mindful of the start date of each offer. This is a “Bundled Offer,” so you need to email the school director to manually issue one letter of acceptance and one invoice."}, {title: "Sales", q: "I want to show students eslBooking prices on my computer, but don’t want them to see the original prices. What can I do?", a: "You can use the tab called “Pricing Setting” from the top “Setting” icon to increase the prices offered by the percentage you wish (i.e.: 5%, 10%, ..30%..). At eslBooking we protect your price privacy."}, {title: "Sales", q: "I want to book a group. How can I do this?", a: "Book your students individually as soon as you can before someone else purchases from the available seats. Once the booking is made then please contact the campus director directly to create and issue a group quotation (including all services that you may require)."}, {title: "Sales", q: "Can I book several student offers at one time?", a: "In order to ensure accuracy you must book each offer individually."}, {title: "Sales", q: "Can an offer ever be extended past the deadline?", a: "No, they cannot."}, {title: "Sales", q: "Can I contact the school directly to see if I can get a better deal than what’s offered on eslBooking?", a: "Yes, you can. However, deals cannot be combined."}, {title: "Sales", q: "I understand that deals cannot be combined, but if a school is offering a gift to the student (such as an iPhone or Visa gift card), can this student gift be combined with the eslBooking offer?", a: "No, they cannot. The eslBooking price is final and cannot be combined with any other existing offers or promotions."}, {title: "Sales", q: "Is the school’s current refund policy applicable to eslBooking offers?", a: "Yes."}, {title: "Sales", q: "Who pays me commission, eslBooking or the school? ", a: "No commission will be paid out to agents. Instead, agents will be deducting their profit before sending the tuition fees to the school."}, {title: "Sales", q: "I understand from the above question that I must pay the fees to the school after deducting my commission, however, I would like my student to send the money (including my profit) to the school. Can the school send me my commission / profit?", a: "Yes. Please send your invoice (including the eslBooking reference code) for payment to be processed."}, {title: "Sales", q: "What price should I charge my student? It is not clear if there is a net or gross price?", a: "By looking at any offer you will notice a price in green. This price is the price that an agent will pay to the school. No commission, discounts, or offers will be paid back from that amount. Below the “Book now” button (blue) is the recommended student price (red). This is the recommended price that we ask you to charge your student. The difference between the green and the red price is your profit."}, {title: "Sales", q: "Can I increase the offer price (in green) and therefore my profit?", a: "Yes. You can increase your profit by increasing the price in green (you can automatically do that by changing the pricing setting as explained above). It is required that you do not lower the student price (red) lower than the recommended price."}, {title: "How to use the system", q: "Can I hide the recommended price?", a: "Yes. Just go to ‘Pricing Setting’ under the ‘Setting icon’ at the top menu, then you can click on ‘Hide suggested student price.’"}, {title: "How to use the system", q: "What if I don’t find the deal I want? For example: I want to book a student for 24 weeks in Toronto, in the third week of January, but there are no offers available.", a: "Change the number of weeks to fewer than 24 and book the remaining weeks directly with the school. If you still don’t find an available offer you may change the start date or the city. If your start date or city cannot be changed then it is recommended to visit often for new offers."}, {title: "Strategy", q: "Can I find other schools offering their empty seat deals?", a: "eslBooking is building a collective group of member schools from around the world to be a part of this system."}, {title: "Marketing", q: "Can eslBooking contact me whenever a new offer is uploaded for a particular school?", a: "Promotional e-mails are sent out weekly highlighting the newest deals available."}, {title: "Marketing", q: "How will I know when a new offer is available?", a: "Simply check back daily as new offers will be posted on a daily basis."}, {title: "How to use the system", q: "Is there a maximum number of offers that I can make at any given time?", a: "No. You can make as many you like."}, {title: "Strategy", q: "Why eslBooking is by Invitation only?", a: "Because the concept of eslBooking offers limited opportunities the demand has been greater than expected. Therefore, the IWL-Invitation Waiting List is our way to protect the ESL community from negative competition."}, {title: "Strategy", q: "What do you mean by 'empty seats'", a: "Empty seats means available seats within current classes. So a school doesn’t rent and lose space or hire a new teacher to open classes."}, {title: "How to use the system", q: "I am afraid that if one of my students receives these great deals they will tell other students (who already paid more) which will make them unhappy.", a: "To avoid this the best thing is to tell your student the truth. The prices are different because in eslBooking they are different. It is recommended to show them the eslBooking offers so they understand the concept. Of course you don’t want them to know your cost, that’s why you can privately increase the price through price setting. You can use the tab called “Pricing Setting” from the top “Setting” icon to increase the prices offered by the percentage you wish (i.e.: 5%, 10%, .., 30%). At eslBooking your privacy is our top priority."}, {title: "How to use the system", q: "I cannot access my account. My password or email address aren’t working.", a: "Please feel free to send an e-mail to info@eslBooking.com and we will resolve the problem for you."}] %>

<div class="col-lg-8 col-lg-offset-2">
	<div class="well">
		<legend><span class="oi oi-bookmark"></span> FAQ</legend>
		<hr>
		<ul class="list-unstyled">
		<% titles.each do |t| %>
		<% qs = qa.select {|x| x[:title] == t} %>
		<br>
		<legend><%= t %>: </legend>
			<% qs.each_with_index do |qa, num| %>
				<li class="q"><span class="oi oi-badge"></span> <strong><a href="#q<%= "#{num}#{t}" %>", class= "faq-link" >
					<%= qa[:q] %>
				</a></strong></li>
			<% end %>
		<% end %>

		</ul>
		<hr>
		<dl>
		<% titles.each do |t| %>
		<% qs = qa.select {|x| x[:title] == t} %>
			<% qs.each_with_index do |qa, num| %>
				<dt id="q<%= "#{num}#{t}" %>"><strong>Q: </strong><%= qa[:q] %></dt>
				<dd><strong>A: </strong><%= qa[:a].html_safe %></dd>
				<hr>
			<% end %>
			<% end %>
		</dl>
	</div>
</div>
<% end %>


