<div class="col-lg-8 col-lg-offset-2">
	

<div class="well">
	<legend>Order Confirmation</legend>
	<table class="table table-striped ">
		<thead>
			<tr>
				<th>School</th>
				<th>Order Summary</th>
				<th>Total price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= link_to @order.school.name, @order.school, class: "order-school-name", target: "_blank" %></td>
				<td><i><%= @order.num_seats %> seat for <%= @order.num_weeks %> weeks starting on <%= @order.start_date.to_formatted_s(:long) %></i></td>
				<td><strong><%= number_to_currency(@order.total_price) %></strong></td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-imp-info" role="alert"><stron><span class="glyphicon glyphicon-info-sign"></span></stron> Your credit card is <u>only to confirm</u> this booking until payment is made directly to the school, and <u>will not be charged</u>!</div>
	
</div>
<div class="tile tile-white">
	<%= render 'form' %>
	<br>
	<div class="alert alert-imp-info light" role="alert"><stron><span class="glyphicon glyphicon-info-sign"></span></stron> Please contact the school with your confirmation number once your booking has been confirmed to begin the registration process!</div>
</div>
<br>
</div>