<div class="progressbar-well">
      <ul id="progressbar">
        <li class="active">Search</li>
        <li class="active">Book</li>
        <li class="active">Confirm</li>
          <li class="half-active">Register</li>
      </ul>
</div>

<div class="col-lg-8 col-lg-offset-2">
  <div class="alert alert-success" role="alert">
    <strong><span class="oi oi-check"></span> Your booking is successfully <% if @order.state == 'confirmed'%>confirmed<% else %>saved<% end %>!</strong>
  </div>



  <div class="well">
    <legend>Order Confirmed</legend>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>School</th>
          <th>Order Summary</th>
          <th>Total price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to @order.school.name, @order.school, class: "order-school-name", target: "_blank" %></td>
          <td><i><%= @order.num_seats %> seat for <%= @order.num_weeks %> weeks starting on <%= @order.start_date.to_formatted_s(:long) %></i></td>
          <td><strong><%= number_to_currency(@order.total_price) %></strong></td>
        </tr>
      </tbody>
    </table>
    
    
  </div>
  <div class="tile tile-white">
  <p><strong>Your eslBooking confirmation/reference number:</strong> <span class="label label-info"><%= @order.ref_num %></span></p>
    <p><stron><span class="glyphicon glyphicon-info-sign"></span></stron> Please contact the school with your confirmation/reference number to begin the registration process!</p>
  
    <%= link_to @order.school.reg_link, class: "btn btn-md btn-primary btn-embossed reg", target: "_blank" do %>
            <span class="oi oi-credit-card"></span>&nbsp Register Student
    <% end %>

  </div>
  <br>

  


</div>



