<%= simple_form_for(@agency, remote: true, :authenticity_token => true) do |f| %>
<div class="row">
	<div class="col-lg-12">
		<%= f.error_notification %>
	</div>
	<div class="col-lg-12">
		<%= f.input :name, label: "Company Name", input_html: {class: "agency-settings-field"} %>
	</div>
	<div class="col-lg-6">
		<%= f.input :email, input_html: {class: "agency-settings-field"} %>
	</div>
	<div class="col-lg-6">
		<%= f.input :website, input_html: {class: "agency-settings-field"} %>
	</div>
	<div class="col-lg-6">
		<%= f.input :country_id, as: :select, collection: @countries, value_method: :id, label_method: :name, input_html: {class: "agency-settings-field", id: "select2-country", "style" => "width:390px"}  %>
	</div>
	<div class="col-lg-6">
		<%= f.input :city, input_html: {class: "agency-settings-field"} %>
	</div>
	<div class="col-lg-12">
		<%= f.input :address, input_html: {class: "agency-settings-field"} %>
	</div>
	<div class="col-lg-12">
		<%= f.input :ref_num, label: "Reference Number", input_html: {class: "agency-settings-field"} %>
		
	</div>
	<%= f.hidden_field :user_id %>
	<br>
	<div class="col-lg-12">
		<%= button_tag( :class => "btn btn-inverse btn-sm btn-embossed btn-block", :id => "save-agency") do %>
		<i class="glyphicon glyphicon-floppy-disk"></i> Save Changes
		<% end %>
	</div>
</div>
<% end %>