<% if flash[:error] %>
	<div class="alert alert-danger"><span class="oi oi-ban"></span>  <%= flash[:error] %></div>
<% end %>
<div class="row">
	<div class="col-lg-3 ">
		<div class="well">
			<legend><span class="glyphicon glyphicon-link"></span> Pricing Settings</legend>
			<hr>
			<%= render 'form' %>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="well">
			
			
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#agency" role="tab" data-toggle="tab">
					<span class="oi oi-briefcase" title="oi-briefcase" aria-hidden="true"></span>  Edit Profile
				</a></li>
				<li><a href="#agents" role="tab" data-toggle="tab"><span class="oi oi-people" title="oi-people" aria-hidden="true"></span> Agents Setting<label class="label label-sm label-warning">comming soon!</label></a></li>
				
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="agency">
					<%= render 'agency_form' %>
				</div>
				<div class="tab-pane" id="agents"><br>
					<div class="row demo-tiles">
						<div class="col-xs-3">
							<div class="tile">
								
								<h3 class="tile-title">Kate McDonald</h3>
								<p>Sales Manager</p>
								<a class="btn btn-primary btn-sm " href="#"><span class="oi oi-pencil"></span></a>
								<a class="btn btn-danger btn-sm " href="#"><span class="oi oi-delete"></span></a>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="tile">
								
								<h3 class="tile-title">Mike Smith</h3>
								<p>Sales Manager</p>
								<a class="btn btn-primary btn-sm " href="#"><span class="oi oi-pencil"></span></a>
								<a class="btn btn-danger btn-sm " href="#"><span class="oi oi-delete"></span></a>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="tile">
								
								<h3 class="tile-title">Steven Micheal</h3>
								<p>Sales Manager</p>
								<a class="btn btn-primary btn-sm " href="#"><span class="oi oi-pencil"></span></a>
								<a class="btn btn-danger btn-sm " href="#"><span class="oi oi-delete"></span></a>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="tile">
								
								<h3 class="tile-title">John Arthur</h3>
								<p>Sales Manager</p>
								<a class="btn btn-primary btn-sm " href="#"><span class="oi oi-pencil"></span></a>
								<a class="btn btn-danger btn-sm " href="#"><span class="oi oi-delete"></span></a>
							</div>
						</div>
					</div>
					<br>
					<a href="#" class="btn btn-primary btn-sm pull-right"><span class="oi oi-plus"></span> Add new agnet</a>
					<br>
				</div>
				
				
			</div>
			
		</div>
	</div>
	<% if current_user.current_active_state == 'admin' %>
		<div class="col-lg-12">
			<div class="well">
				<legend><span class="oi oi-people"></span> Users Activation</legend>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Company name</th>
							<th>Current state</th>
							<th>Activate as</th>
							<th>Deactivate</th>
						</tr>
					</thead>
					<% @all_users.each do |u| %>
						<tr>
							<td><%= u.first_name %> <%= u.last_name %></td>
							<td><%= u.email %></td>
							<td><%= u.agency_name %></td>
							<% user_state = u.current_active_state %>
							<td><label class="label label-default"><%= user_state %></label></td>
							<% if user_state == 'n/a' %>
								<td><%= link_to 'agency',  set_state_path({user_id: u.id, user_state: :agency}), class: "btn btn-xs btn-inverse" %>
								<%= link_to 'school',  set_state_path({user_id: u.id, user_state: :school}), class: "btn btn-xs btn-inverse" %></td>
							<% elsif user_state == 'agency' %>
								<td><%= link_to 'school',  set_state_path({user_id: u.id, user_state: :school}), class: "btn btn-xs btn-inverse" %></td>
							<% else %>
								<td><%= link_to 'agency',  set_state_path({user_id: u.id, user_state: :agency}), class: "btn btn-xs btn-inverse" %></td>
							<% end %>
							
							<% if user_state != 'n/a' %>
								<td><%= link_to 'x',  set_state_path({user_id: u.id, user_state: 'n/a'}), class: "btn btn-xs btn-danger" %></td>
								<% else %>
								<td></td>
							<% end %>
						</tr>
					<% end %>
					
				</table>
			</div>
		</div>
	<% end %>
</div>


