<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_setting.user_id %>
</p>

<p>
  <strong>Setting:</strong>
  <%= @user_setting.setting %>
</p>

<%= link_to 'Edit', edit_user_setting_path(@user_setting) %> |
<%= link_to 'Back', user_settings_path %>
