<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_state.user_id %>
</p>

<p>
  <strong>User state:</strong>
  <%= @user_state.user_state %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user_state.active %>
</p>

<%= link_to 'Edit', edit_user_state_path(@user_state) %> |
<%= link_to 'Back', user_states_path %>
