<div class="row">
	<div class="col-lg-6">
		<div class="well">
			<legend><span class="glyphicon glyphicon-lock"></span> Sign in</legend>
			
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div class="form-group">
				<%= f.label :email %><br />
			<%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>
			<div class="form-group">
				<%= f.label :password %><br />
			<%= f.password_field :password, :class => "form-control" %></div>
			<% if devise_mapping.rememberable? -%>
			<div class="form-group">
			<%= f.check_box :remember_me %> <%= f.label :remember_me %>
			<% end -%>
			
			<%= f.submit "Sign in", :class => "btn btn-primary btn-sm pull-right" %></div>
			<% end %>
			<%= render "devise/shared/links" %>
			<br>
			<!-- <div class="alert alert-warning" role="alert"><b>Hurry Up!</b> If you wish to be added to the IWL "Invitation Waiting List" please send us an email to info@lugza.com with your full name, company name and your email address!</div>
			  -->
			
			

		</div>
		<div class="save-image">
			<img src=<%= asset_path('homepage-top.jpg')  %> width="100%">
		</div>
		
	</div>
	
	<div class="col-lg-6">
		<div class="well">
			<h3>Welcome to lugza</h3>
			<hr>
			<div class="homepage-text">
				Although the Lugza concept is new to the Language industry, it’s similar to existing online booking systems in the hotel and airline industries, such as Hotwire.com or Booking.com.  In order to protect our users access to Lugza is only available to trusted agents. To obtain a username and password please email info@islbooking.com.<br><br>
				<span class="oi oi-arrow-circle-right"></span> <strong>For Schools:</strong><br>
				Research has shown that 20% of classrooms in schools are empty at any given time. The number of available seats varies by month and season and schools face real challenges to promote their available seats in a timely manner. Lugza offers schools the chance to fill these seats and increase their profits.<br><br>
				<span class="oi oi-arrow-circle-right"></span> <strong>For Agents:</strong><br>
				Lugza completed a six hour case study with 54 agencies hailing from 16 different countries. Participants voluntarily took part with the final result being the birth of Lugza. Lugza provides agents with a safe way to buy discounted seats from quality schools.<br><br>
				<span class="oi oi-arrow-circle-right"></span> <strong>Rating System:</strong><br>
					Today’s clientele makes their purchasing decisions based heavily on online customer reviews (yesterday’s word of mouth).  All of Lugza’s schools are rated by the agents that use them to ensure that students are offered only the highest quality schools.
			</div>
		</div>
		
	</div>
	
</div>
<% if false %>
<div class="row">
	<div class="col-lg-12">
		<div class="well homepage-well">
			<div class="row">
				<div class="col-lg-6">
					<span class="oi oi-arrow-circle-right"></span> <strong>Rating System:</strong><br>
					As you know, today’s clientele makes their purchasing decisions based heavily on online customer reviews (yesterdays word of mouth), therefore, you will benefit from feedback provided by lugza’s agents.
				</div>
				
				<div class="col-lg-6">
					<span class="oi oi-arrow-circle-right"></span> <strong>No Commission:</strong><br>
					Don’t wait until tomorrow to start taking advantage of a serious business opportunity that will benefit our industry. The first 50 participants will enjoy transactions
					without having commission deducted for one full year.
				</div>
				
			</div>
		</div>
	</div>
</div>
<% end %>
