<%= simple_form_for(@search , remote: true, :authenticity_token => true) do |f| %>
<div class="row">
<div class="col-lg-12">
  <%= f.error_notification %>

  </div>

  <div class="col-lg-6">
    <%= f.input :num_weeks, as: :string, label: "Number of weeks" %>
  </div>


  <div class="col-lg-6">
    <%= f.input :num_seats, as: :string, label: "Number of students" %>
  </div>

  <div class="col-lg-12">
    <%= f.input :start_date, as: :string, input_html: { class: "",  id: "datepicker", 'data-date-format' => "dd-mm-yyyy" } %>
  </div>
  <div class="col-lg-12">
  <%= f.input :country_id, label: "Student Country", as: :select, collection: @countries, value_method: :id, label_method: :name, input_html: {id: "select2-country", "style" => "width:320px"} %>
  </div>
  <%= f.hidden_field :user_id %>
  <!--

  <%= f.input :course_id,  collection: @courses, value_method: :id, label_method: :name, :include_blank => "Select course..." %>



  <%= f.collection_radio_buttons :city_id,  @cities, :id,  :name, required: true  %>
  -->
  <div class="col-lg-12">
    <%= button_tag( :class => "btn btn-success btn-embossed btn-block", :id => "search-btn") do %>
    <span class="oi oi-magnifying-glass"></span> Search
    <% end %>
 </div>
</div>

  <% end %>