<%= simple_form_for(@search ) do |f| %>
 

<%= f.error_notification %>
        
       
 

      <p></p><br>
       
        <%= f.input :num_weeks, label: "Number of weeks" %>
      

   
  
    
    <%= f.input :num_seats, label: "Number of students" %>

   
   
    <%= f.input :start_date, as: :string, input_html: { class: "",  id: "datepicker", 'data-date-format' => "dd-mm-yyyy" } %>
  	

    <%= f.hidden_field :user_id %>

  <!--  
   
    <%= f.input :course_id,  collection: @courses, value_method: :id, label_method: :name, :include_blank => "Select course..." %>


  
    
 



  <%= f.collection_radio_buttons :city_id,  @cities, :id,  :name, required: true  %>
  -->
<br>
<br>

<%= button_tag( :class => "btn btn-success pull-right") do %>
  <i class="glyphicon glyphicon-search"></i> Search
<% end %>


<br>
 <br>

 
<% end %>

