<%= simple_form_for(@search , html: { class: 'form-horizontal' }, wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  }) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
        <% @search.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
        <h4><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h4>
        <%= msg %>
        </div>
      <% end %>
      
    </div>
  <% end %>



        
        <%= f.input :city_id %>
 
      
        
        <%= f.input :num_weeks %>
      

   
  
    
    <%= f.input :num_seats %>


  
   
    <%= f.input :start_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
  

  
  
    <%= f.input :student_name %>

  
   
    <%= f.collection_select :course_id, @courses, :id, :name, :include_blank => "Select course..." %>


  
    
    <%= f.hidden_field :user_id %>
 

  
    <%= f.submit "Get Prices", class: "btn btn-primary shadow btn-green" %>

 
 
<% end %>
