<h1>Listing searches</h1>

<div class="well">
<table class="table">
  <thead>
    <tr>
      <th>City</th>
      <th>Num weeks</th>
      <th>Num seats</th>
      <th>Start date</th>
      <th>Created at</th>
      <th>Student name</th>
      <th>Program</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.city_id %></td>
        <td><%= search.num_weeks %></td>
        <td><%= search.num_seats %></td>
        <td><%= time_ago_in_words(search.start_date) if search.start_date %></td>
        <td><%= time_ago_in_words(search.created_at) %></td>
        <td><%= search.student_name %></td>
        <td><%= truncate(search.course.name) %></td>
        <td><%= search.user_id %></td>
        <td><%= link_to 'Show', search, class: "btn btn-xs" %> 
        <%= link_to 'Edit', edit_search_path(search) , class: "btn btn-xs" %> 
        <%= link_to 'Check seats', find_path , class: "btn btn-xs btn-primary" %> 
        <%= link_to 'delete', search, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Search', new_search_path, class: "btn btn-primary pull-right shadow"  %>
