<div class="progressbar-well">
      <ul id="progressbar">
        <li>Search</li>
        <li>Book</li>
        <li>Confirm</li>
          <li>Register</li>
      </ul>
 </div>

<div class="row">
		<div class="col-lg-4 col-sm-12 col-md-12">
			<div class="well">
				<% if current_user.current_active_state != 'n/a' %>
					<legend><span class="glyphicon glyphicon-th"></span> Find Available Seats</legend>
					<%= render 'form' %>
				<% else %>
					<div class="alert alert-warning">
					<legend><span class="oi oi-bell"></span> Pending Activation!</legend>
					<p>Your account is pending activation!</p>
					</div>
				<% end %>
			</div>
		</div>


	<div class="col-lg-8 col-sm-12 col-md-12">
		<div class="save-image">
			<img src=<%= asset_path('save-toronto1.jpg')  %> width="100%">

			
		</div>
	</div>

</div>

<div class="row">
  <div class="col-lg-12">
	  <div class="well">
	  	<legend><span class="oi oi-flash"></span> Lowest Deals Now</legend>
		<div class="row">
		<div class="col-lg-4 col-sm-12 col-md-12">


				<img src=<%= asset_path('3.jpg')  %> width="100%">
				<br><br>
				<p><b>TORONTO</b><br>
				<span class="save-text"> Save up to: </span><span class="save-price"><%= number_to_currency(@toronto_saving) %></span><br>
				<span class="save-text">Weekly price starting at:</span> <span class="save-price"><%= number_to_currency(@toronto_lowest_price) %></span></p>


		</div>

		<div class="col-lg-4 col-sm-12 col-md-12">


				<img src=<%= asset_path('4.jpg')  %> width="100%">
					<br><br>
				<p><b>OTTAWA</b><br>
				<span class="save-text"> Save up to: </span><span class="save-price"><%= number_to_currency(@ottawa_saving) %></span><br>
				<span class="save-text">Weekly price starting at:</span> <span class="save-price"><%= number_to_currency(@ottawa_lowest_price) %></span></p>


		</div>

		<div class="col-lg-4 col-sm-12 col-md-12">


				<img src=<%= asset_path('1.jpg')  %> width="100%">
					<br><br>
				<p><b>HALIFAX</b><br>
				<span class="save-text"> Save up to: </span><span class="save-price"><%= number_to_currency(@halifax_saving) %></span><br>
				<span class="save-text">Weekly price starting at:</span> <span class="save-price"><%= number_to_currency(@halifax_lowest_price) %></span></p>


		</div>
		</div>

	  </div>
  </div>
</div>

<!--  
<%= link_to 'Back', searches_path, class: "btn btn-primary btn-sm " %>
-->
