<div class="row">
		<div class="col-lg-4">
			<div class="well">
				<% if current_user.current_active_state != 'n/a' %>
					<legend><span class="glyphicon glyphicon-th"></span> Find Available Seats</legend>
					<%= render 'form' %>
				<% else %>
					<div class="alert alert-warning">
					<legend><span class="oi oi-bell"></span> Pending Activation!</legend>
					<p>Your account is pending activation!</p>
					</div>
				<% end %>
			</div>
		</div>


	<div class="col-lg-8">
		<div class="save-image">
			<img src=<%= asset_path('toronto-promo.jpg')  %> width="100%">

			
		</div>
	</div>

</div>

<div class="row">
	<div class="col-lg-4">
		<div class="well">
			
			<img src=<%= asset_path('toronto-activity.jpg')  %> width="100%">
			<br><br>
			<p><b>TORONTO</b><br>
			<span class="save-text"> Save up to: </span><span class="save-price">$177</span><br>
			<span class="save-text">Weekly price starting at:</span> <span class="save-price">$118</span></p>
			<div class="btn btn-danger">
				Book Now!
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="well">
			
			<img src=<%= asset_path('ottawa-activity.jpg')  %> width="100%">
				<br><br>
			<p><b>VANCOUVER</b><br>
			<span class="save-text"> Save up to: </span><span class="save-price">$147</span><br>
			<span class="save-text">Weekly price starting at:</span> <span class="save-price">$147</span></p>
			<div class="btn btn-danger">
				Book Now!
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="well">
			
			<img src=<%= asset_path('halifax-activity.jpg')  %> width="100%">
				<br><br>
			<p><b>HALIFAX</b><br>
			<span class="save-text"> Save up to: </span><span class="save-price">$118</span><br>
			<span class="save-text">Weekly price starting at:</span> <span class="save-price">$177</span></p>
			<div class="btn btn-danger">
				Book Now!
			</div>
		</div>
	</div>

</div>

<!--  
<%= link_to 'Back', searches_path, class: "btn btn-primary btn-sm " %>
-->
