<div class="progressbar-well">
			<ul id="progressbar">
				<li class="active">Search</li>
				<li>Book</li>
				<li>Confirm</li>
	    		<li>Register</li>
			</ul>
</div>

<div class="col-golden-sm col-md-12 col-sm-12 col-xs-12" >
	<div class="filter-container">
		<div class="filter">
			<div class="well" >
				<legend><span class="oi oi-magnifying-glass"></span>  Search</legend><hr>
				<%= render 'form' %>
			</div>
			
		</div>
	</div>
</div>
<div class="col-golden-lg col-md-12 col-sm-12 col-xs-12">
	<div class="content">
		<div class="well well-search-info">
			<% offers_count = @bookable_offers %>
			<b><span class="oi oi-badge"></span>&nbsp There <%= is_are(offers_count) %> <span class="label label-info"><%= pluralize(offers_count, 'available offer') %></span> based on your search input:</b><br>
			<small><i>Start date:&nbsp <%= @last_search.start_date.to_formatted_s(:long) %>  &nbsp | &nbsp  Number of weeks:&nbsp <%= @last_search.num_weeks %>  &nbsp | &nbsp  Number of students:&nbsp <%= @last_search.num_seats %> | Region Applied: <%= @last_search.country.region.name %></i></small>
		</div><hr>
		<% @offers.each do |o| %>
		<% num_of_remaining_seats = o.num_of_seats - o.orders.count %>
		<% can_book = false %>
		<% range = (o.start_date..o.end_date) %>
		<% if range.include?(@last_search.start_date) and @last_search.num_weeks.between?(o.min_num_weeks, o.max_num_weeks) %>
			<% can_book = true %>
		<% end %>
		<% if num_of_remaining_seats > 8 %>
		<% num_of_remaining_seats -= rand(1..4) %>
		<% end %>
		<div class="seat-well <%= "sold" if num_of_remaining_seats <= 0 %>" >
			<div class="seat-details">
				<div class="seat-info">
					<img src=<%= o.school.avatar %> class="school-img" style="width: 100px; height: 100px;" alt=""><%= link_to o.school.name, o.school, class: "school-name", target: "_blank" %>&nbsp
					
					<% o.school.avg_rate.times do %>
					<span class="oi oi-star star"></span>
					<% end %>
					
					<% agency_full_price = o.final_weekly_price * @last_search.num_weeks * (1 + @increase_by) * @last_search.num_seats %>
					<% agency_offered_price = o.final_weekly_price * @last_search.num_weeks * (1 + @increase_by) * @last_search.num_seats %>
					<% full_price = o.regular_price * @last_search.num_weeks * @last_search.num_seats %>
					<div class="offer-course"><span class="glyphicon glyphicon-book"></span> <%= o.course.name %></div>
					<% if o.regular_price %>
					<div class="saving"><span class="glyphicon glyphicon-saved"></span> You are saving <%= number_to_currency((full_price) - agency_offered_price ) %> </div>
					<% else %>
					<div class="saving"><span class="glyphicon glyphicon-saved"></span> You are saving <%= number_to_currency(agency_full_price - agency_offered_price ) %> </div>
					<% end %>
					
					
				</div>
				<div class="offer-price">
					<table class="table table-condensed">
						<tr class="price-details-left">
							<td><b class="price-type green"><span class=""> </span> </b><br>
								<small><span class="label label-default"><s><%= number_to_currency(full_price) %> CAD</s></span></small><br>
							</td>
							<td><b class="price-type green"><span class=""> </span> </b><br>
								<small><span class="label label-success"><%= number_to_currency(agency_offered_price) %> CAD</span></small><br>
							</td>
						</tr>
						<!-- <tr>
							
							<td colspan="2">
								<small><%= "<span class='label label-dates'>Available from <u><b>#{o.start_date.to_formatted_s(:long)}</b></u> to <u><b>#{o.end_date.to_formatted_s(:long)}</b></u> only.".html_safe %></small>
							</td>
						</tr> -->
						<tr class="book-button">
							
							<td colspan="2">
							<br>
								<% if num_of_remaining_seats <= 0 %>
									<%= link_to "#", class: "btn btn-danger btn-sm book-now btn-embossed", disabled: "disabled"  do %>
										<i class="oi oi-ban"></i> Sold Out
									<% end %>
								<% else %>
									<% if @booking and can_book  %>
										<%= link_to new_order_path(:offer_id => o.id, :state => :pending, :num_weeks => @last_search.num_weeks, :total_price => agency_full_price, :start_date => @last_search.start_date, :expire_date => Date.today + o.pay_within, :num_seats => @last_search.num_seats), class: "btn btn-info btn-xs book-now btn-embossed", :disable_with => "Booking..."  do %>
										<i class="glyphicon glyphicon-credit-card"></i> Book Now
										<% end %>
									<% elsif @booking and !can_book %>
										<%= link_to "#", class: "btn btn-danger btn-xs book-now btn-embossed"  do %>
										<span data-container="body" data-toggle="tooltip" data-placement="bottom" title="To book this offer please change the start date and the number of weeks to match the conditions below!"><span class="oi oi-circle-x"></span> Search again to get this offer</span>
										<% end %>
										
									<% else %>
										<%= link_to "#", class: "btn btn-info btn-xs book-now btn-embossed", onclick: "alert('In order not to overwhelm you the [Book Now] function will be launched in #{time_ago_in_words @booking_launch_time, @time_now}! Launch date is #{@booking_launch_time.to_formatted_s(:long)} Toronto time!')" do -%>
										<i class="glyphicon glyphicon-credit-card"></i> Book Now
									<% end %>
								<% end %>
		
								<% end %>
								
								
							</td>
							</tr>
						</tr>
						
					</table>
					
				</div>
			</div>

			<div class="row">
			<hr>
				<div class="col-lg-7">
					<b>Conditions:</b>
					<div class="offer-dates"><span class="oi oi-calendar"></span> <%= "Available from <u><b>#{o.start_date.to_formatted_s(:long)}</b></u> to <u><b>#{o.end_date.to_formatted_s(:long)}</b></u> only.".html_safe %></div>
					<div class="offer-duration"><span class="oi oi-loop"></span> Available for purchases between <%= "#{o.min_num_weeks} to #{o.max_num_weeks} weeks." %> </div>
					
					<% if num_of_remaining_seats <= 20 && num_of_remaining_seats > 0 %>
					<div class="offer-seats-remaining"><span class="oi oi-warning"></span> We only have <%= num_of_remaining_seats %> seats remaining under this offer!</div>
					<% end %>
				</div>
				<div class="col-lg-5">
					<div class="offer-notes">
					<br>
						<% if @hide_sug_price == 'No' %>
						<span class="glyphicon glyphicon-asterisk"></span> Recommended minimum price for students: <strong class="red"><%= number_to_currency((agency_offered_price * 1.30) / (1 + @increase_by)) %></strong>.<br>
						<% end %>
						<% num_seats = @last_search.num_seats %>
						<% num_weeks = @last_search.num_weeks %>
						<!-- <span class="glyphicon glyphicon-asterisk"></span> This price is for <%= num_weeks %> <%= "week".pluralize(num_weeks) %> and for <%= num_seats %> <%= "student".pluralize(num_seats) %><br> -->
						<span class="glyphicon glyphicon-asterisk"></span> This is a final offer
						<br>
						<span class="glyphicon glyphicon-asterisk"></span> This offer can not be combined with other promotions
						<br>
						<% viewers = rand(1..6) %>
						<% if viewers >= 2 %>
						<span class="offer-seats-viewing"><span class="oi oi-eye"></span> There are <%= viewers %> users viewing this offer right now!</span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		
	</div>
</div>