<h1>Test from Seat</h1>


	<div class="filter" >
	
		<div class="well">
			<%= render 'form' %>
		</div>
	</div>

	


<div class="content">
<% 10.times do |s| %>

<div class="seat-well">

	<div class="seat-photo">
		<img src="/assets/hotel-opaque-new.png" alt="">
	</div>


	<div class="seat-details">
		<div class="seat-info">
		<a href="#"><b>Toronto Campus</b></a>

			<div class="offer-course"><span class="glyphicon glyphicon-book"></span> <b>Course:</b> General English</div>
			
			<div class="offer-dates"><span class="glyphicon glyphicon-time"></span> Available between <span class="label label-default">21st August, 2014</span> and <span class="label label-default">21st September, 2014</span> </div>
			
			<br>
			<% if rand(10) < 4 %>
			<div class="offer-seats-remaining"><span class="glyphicon glyphicon-warning-sign"></span> We have only <b><%= rand(10) %> seats</b> remaining under this offer!</div>
			<% end %>
		</div>

		<div class="offer-price">
			<span class="label label-danger">$<%= rand(2000) %> CAD</span> <br>
			<div class="price-details">*Price for 10 weeks</div>
			<div class="price-details">Recomended price for students: $<%= rand(2000) %></div>

			<%= button_tag( :class => "btn btn-success btn-xs offer-button") do %>
			<i class="glyphicon glyphicon-credit-card"></i> Buy this offer

			<% end %>
		</div>




	</div>

</div>

<% end %>


<div class="seat-well">
  	<table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td colspan="2">Larry the Bird</td>
          <td><%= button_tag( :class => "btn btn-success btn-xs") do %>
			<i class="glyphicon glyphicon-credit-card"></i> Buy this offer

			<% end %></td>
        </tr>
      </tbody>
    </table>
  
</div>

</div>




