<div class="col-golden-sm">
	<div class="filter" >
		
		<div class="well">
			<%= render 'form' %>
		</div>
	</div>
</div>

<div class="col-golden-lg">
	<div class="content">
		<% @all_cities.each do |city| %>
		<% @short_courses.each do |course| %>
		<div class="seat-well">
			<!-- <div class="seat-photo">
				<img src=<%= asset_path(city[:photo])  %>  alt="">
			</div> -->
			<div class="seat-details">
				<div class="seat-info">
					<img src=<%= asset_path(city[:photo]) %> class="school-img" style="width: 60px; height: 60px;" alt=""><a href="#"><b><%= city[:name] %></b></a>
					
					<% agency_full_price = course[:price] * @last_search.num_weeks * 0.75 %>
					<% agency_offered_price = course[:price] * @last_search.num_weeks * ( city[:low] + @added_discount[0][:price] ) %>
					<div class="offer-course"><span class="glyphicon glyphicon-book"></span> <%= course[:name] %></div>
					
					<div class="saving"><span class="glyphicon glyphicon-saved"></span> You are saving <b><%= number_to_currency(agency_full_price - agency_offered_price ) %></b> </div>
					
					<br>
					<% if rand(10) < 4 %>
					<div class="offer-seats-remaining"><span class="glyphicon glyphicon-warning-sign"></span> We have only <b><%= rand(9) + 1 %> seats</b> remaining under this offer!</div>
					<% end %>
				</div>
				<div class="offer-price">
					
					
					<table class="table table-condensed">
						<tr class="price-details-left">
							<td><b class="price-type red"><span class="glyphicon glyphicon-ban-circle"> </span> None Refundable</b><br>
								<span class="label label-default"><%= number_to_currency(agency_offered_price * 0.95) %> CAD</span><br>
								<a class="no-style" href="https://mycllc.ca/apex/f?p=109:1:0:::::">
									<%= button_tag( :class => "btn btn-success btn-xs book-now btn-embossed") do %>
									<i class="glyphicon glyphicon-shopping-cart"></i> Final Book Now
									<% end %>
								</a>
							</td>
							<td><b class="price-type green"><span class="glyphicon glyphicon-ok-circle"> </span> Refundable</b><br>
								<span class="label label-default"><%= number_to_currency(agency_offered_price) %> CAD</span><br>
								<a class="no-style" href="https://mycllc.ca/apex/f?p=109:1:0:::::">
									<%= button_tag( :class => "btn btn-success btn-xs book-now btn-embossed") do %>
									<i class="glyphicon glyphicon-credit-card"></i> Book Now
									<% end %>
								</a>
							</td>
						</tr>
						
					</table>
					<div class="price-details book-now"><span class="glyphicon glyphicon-asterisk"></span> Recomended price for students: <strong class="red"><%= number_to_currency(agency_offered_price * 1.30) %></strong>.<br>
						<span class="glyphicon glyphicon-asterisk"></span> This price is for <%= @last_search.num_weeks %> weeks.
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>
</div>
