<%= simple_form_for(@offer) do |f| %>
<%= f.error_notification %>
<div class="row">
  <div class="form-inputs">
    <div class="col-lg-3">
      <label>School</label><br>
      <%= f.input_field :school_id, as: :select, collection: @schools, value_method: :id, label_method: :name %>
    </div>
    <div class="col-lg-3">
      <label>Region to apply</label><br>
      <%= f.input_field :regions, as: :select, collection: Region.all, input_html: {class: "agency-settings-field", id: ""} %>
    </div>
    <div class="col-lg-3">
      <label>Flag</label><br>
      <%= f.input_field :flag, as: :select, collection: ['Discounted', 'Regular'] %>
    </div>
    <div class="col-lg-3">
      <label>Course</label><br>
      <%= f.input_field :course_id, as: :select, collection: @courses, value_method: :id, label_method: :name %>
    </div>
    <div class="col-lg-6">
      <%= f.input :weekly_price, as: :string %>
      <hr>
    </div>
    <div class="col-lg-6">
      <%= f.input :pay_within, as: :string, label: "Payment within __ days from the purchase date" %>
      <hr>
    </div>

    <div class="col-lg-6">
      <%= f.input :min_num_weeks, as: :string, label: "Minimum weeks per applicant" %>
    </div>
    <div class="col-lg-6">
      <%= f.input :max_num_weeks, as: :string, label: "Maximum weeks per applicant" %>
    </div>
    <div class="col-lg-6">
      <%= f.input :start_date, as: :string, input_html: { class: "datepicker",  id: "datepicker", 'data-date-format' => "dd-mm-yyyy" } %>
    </div>
    <div class="col-lg-6">
      <%= f.input :end_date, as: :string, input_html: { class: "datepicker",  id: "datepicker", 'data-date-format' => "dd-mm-yyyy" } %>
    </div>
    <div class="col-lg-6">
      <%= f.input :num_of_seats, as: :string, label: "Number of seats" %>
    </div>
    <div class="col-lg-6">
      <%= f.input :weekly_limit, as: :string %>
    </div>
    
    
    
  </div>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>