<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <div class="col-lg-6">
        <%= f.input :school_id %>
      </div>
      <div class="col-lg-6">
        <%= f.input :weekly_price %>
      </div>
      <div class="col-lg-6">
        <%= f.input :min_num_weeks %>
      </div>
      <div class="col-lg-6">
        <%= f.input :max_num_weeks %>
      </div>
      <div class="col-lg-6">
        <%= f.input :start_date, as: :string, input_html: { class: "datepicker",  id: "datepicker", 'data-date-format' => "dd-mm-yyyy" } %>
      </div>
      <div class="col-lg-6">
        <%= f.input :end_date, as: :string, input_html: { class: "datepicker",  id: "datepicker", 'data-date-format' => "dd-mm-yyyy" } %>
      </div>
      <div class="col-lg-6">
        <%= f.input :num_of_seats %>
      </div>
      <div class="col-lg-6">
        <%= f.input :weekly_limit %>
      </div>
      <div class="col-lg-6">
        <%= f.input :flag %>
      </div>
      <div class="col-lg-6">
        <%= f.input :regions, as: :select, collection: Region.all, input_html: {class: "", id: "select2-country"} %>
      </div>
    </div>
   </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
