<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :school_id %>
    <%= f.input :weekly_price %>
    <%= f.input :min_num_weeks %>
    <%= f.input :max_num_weeks %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :num_of_seats %>
    <%= f.input :weekly_limit %>
    <%= f.input :flag %>
    <%= f.input :regions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
