<div class="well"> 


  <h4>Promotions & Prices</h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>School</th>
        <th>Weekly price</th>
        <th>Weeks bound</th>
        <th>Dates</th>
        <th>Total seats</th>
        <th>Weekly limit</th>
        <th>Region</th>
        <th>Orders</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.school.name %></td>         
          <td><%= number_to_currency(offer.weekly_price) %></td>
          <td><%= offer.min_num_weeks %> <span class="oi oi-arrow-thick-bottom"></span> <%= offer.max_num_weeks %> <span class="oi oi-arrow-thick-top"></span></td>
          <td><span class='label label-primary'>from</span> <span class='label label-primary'><%= offer.start_date.to_formatted_s(:short) %></span> <span class='label label-primary'>to</span> <span class='label label-primary'><%= offer.end_date.to_formatted_s(:short) %></span>
          </td>
          <td><%= offer.num_of_seats %> <span class="oi oi-tags"></span></td>
          <td><%= offer.weekly_limit %> </td>
          <td><%= offer.region.name %></td>
          <td><%= offer.orders.count %></td>
          <td><span class='label label-default'><%= offer.flag %></span></td>
         <td><%= link_to 'x', offer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-xs" %></td>
          <!-- <td><% link_to 'Show', offer, class:"btn btn-info btn-xs" %>
            <%= link_to 'Edit', edit_offer_path(offer), class:"btn btn-info btn-xs" %>
          <%= link_to 'x', offer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-xs" %></td> -->
        </tr>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add a promotion/price', new_auto_offer_path, :class => 'btn btn-green' %>
</div>