<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @school.country_id %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
