<p id="notice"><%= notice %></p>
<div class="well">
	<!-- 
	<img src=<%= asset_path("cllc-profile.jpg") %> class="school-img" style="" alt="" > 
	-->
	<h4><%= @school.name %></h4>
	<div class="row">
		<div class="col-lg-4">
			Quality of service: <%= rating_for @school, "quality", star: 5, :cancel => true,  star_on: asset_path("star-on.png").gsub('/assets/',''), star_off: asset_path("star-off.png").gsub('/assets/',''), star_half: asset_path("star-half.png").gsub('/assets/',''), cancel_on: asset_path("cancel-on.png").gsub('/assets/',''), cancel_off: asset_path("cancel-off.png").gsub('/assets/','') %>
		</div>
		<div class="col-lg-4">
			Quality of learning: <%= rating_for @school, "learning", star: 5, :cancel => true,  star_on: asset_path("star-on.png").gsub('/assets/',''), star_off: asset_path("star-off.png").gsub('/assets/',''), star_half: asset_path("star-half.png").gsub('/assets/',''), cancel_on: asset_path("cancel-on.png").gsub('/assets/',''), cancel_off: asset_path("cancel-off.png").gsub('/assets/','') %>
		</div>
		<div class="col-lg-4">
			Price: <%= rating_for @school, "price", star: 5, :cancel => true,  star_on: asset_path("star-on.png").gsub('/assets/',''), star_off: asset_path("star-off.png").gsub('/assets/',''), star_half: asset_path("star-half.png").gsub('/assets/',''), cancel_on: asset_path("cancel-on.png").gsub('/assets/',''), cancel_off: asset_path("cancel-off.png").gsub('/assets/','') %>
		</div>
	</div>
	<br>
	<%= @school.about.html_safe if @school.about %>
	<p>
	<strong>City:</strong>
	<%= @school.city.name %>
	</p>
	<p>
	<strong>Country:</strong>
	<%= @school.country.name %>
	</p>
	
</div>