<!DOCTYPE html>
<html>
<head>
  <title>ESL Booking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href=""><img src=<%= asset_path('logo.png')  %> width="70%"></a>
  </div>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("Welcome #{current_user.full_name}", edit_user_registration_path(current_user)) if user_signed_in? %></li>
        <li><%= link_to("Sign out",  destroy_user_session_path, :method => 'delete')  if user_signed_in? %></li>
    </ul>

  </div>
</nav>

<div class="container">
<!-- 
	<% if notice %>
		<div class="alert alert-info"><%= notice %></div>
	<% end %>
	<% if alert %>
      	<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>  <%= alert %></div>
    <% end %>
 -->

	<div class="row">
		<div class="col-lg-12">
			<%= yield %>
		</div>
	</div>
</div>


<script type="text/javascript">
  $('#datepicker').datepicker()
</script>
</body>


</html>
