<!DOCTYPE html>
<html>
  <head>
    <title>esl Booking</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed" role="navigation">
      <div class="container container-fluid">
        <div class="navbar-header">
          <%= link_to  new_search_path, class: "navbar-brand" do%>
          <span class="glyphicon glyphicon-leaf logo"></span>  <em>esl</em>Booking
          <% end %>
        </div>
        
        
        
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? and current_user.current_active_state != 'n/a' %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="oi oi-cog"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% if ['agency','admin'].include? current_user.current_active_state  %>
              <li>
                <%= link_to settings_path(current_user.user_setting.id) do %>
                <span class="oi oi-people"></span>  Account Management
                <% end %>
              </li>
              <% end %>
              <% if current_user.current_active_state != 'agency' %>
              <li><%= link_to schools_path do %>
                <span class="glyphicon glyphicon-briefcase"></span>  Schools Management
              <% end %></li>
              <% end %>
              <li><%= link_to orders_path do %> 
              <span class="oi oi-calculator"></span>  Orders Management 
            <% end %>
            </li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        
        <li><%= link_to(edit_user_registration_path(current_user)) do %>
          <span class="oi oi-person"></span>
          <% end %>
        </li>
        <% if false %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="oi oi-bullhorn"></span><span class="navbar-new">3</span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#"><span class="oi oi-clock"></span> New prices added!</a>
            </li>
            <li>
              <a href="#"><span class="oi oi-clock"></span> Agency Activated!</a>
            </li>
            <li>
              <a href="#"><span class="oi oi-clock"></span> New message from CLLC!</a>
            </li>
          </ul>
        </li>
        <li class="nav-divider"></li>
        <% end %>
        <li><%= link_to destroy_user_session_path, :method => 'delete'  do %>
          <span class="oi oi-account-logout"></span>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    
    <% if false %>
    <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
    <div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>  <%= alert %></div>
    <% end %>
    <% end %>
   
    <div class="row">
      <div class="col-lg-12">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
    <% if current_user %>
      <div class="row">
        
        <div class="col-md-12">
          <div class="footer-banner">
            <div class="col-md-12">
              <h3 class="footer-title">Why eslBooking!</h3>
            </div>
            
              <div class="col-md-12">
              <ul>
              <% if current_user.current_active_state != 'n/a' %>
                <% footer[:"#{current_user.current_active_state}"].each do |f|  %>
                <li><%= f %></li>
                <% end %>
              <% end %>
              </ul>
              </div>
              
              </div>
              <br><br><br><br><br>
      <% end %>
              <div class="row">
                <div class="text-center  col-md-12">
                  <span class="footnote"><% year = Date.today.year.to_i %>
                  Copyright <span class="glyphicon glyphicon-copyright-mark"></span> <%= "#{year}-#{year+1}" %> eslBooking.com. All rights reserved.</span>
                </div>
              </div>
              <br><br><br>
            </div>
          </div>
          
          
        </div>
        
      </footer>
    </body>
  </html>